@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --green: hsl(75, 94%, 57%);
    --lightgray: hsl(0, 0%, 20%);
    --grey: hsl(0, 0%, 12%);
    --black: hsl(0, 0%, 8%);
    --whtie:hsl(0, 0%, 100%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: var(--black);
    min-height: 100vh;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--whtie);
}
.main{
    padding: 2rem;
    min-height: auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    border-radius: 12px;
    background-color:var(--grey);
}
.img-box{
    height: 80px;
    width: 80px;
}
 img{
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.boi{
    font-size: 14px;
    text-align: center;
}
.name h4{
    margin: 11px 0px;
    color: var(--green);
}
.name h1{
    font-size:28px ;
}
.links{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.links li{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.links li a {
    text-decoration: none;
    color: var(--whtie);
    background-color:var(--lightgray);
    border-radius: 8px;
    width: 100%;
    padding: 13px 10px;
    font-weight: 700;
    font-size: 14px;

}
.links li a:hover{
    background-color:var(--green) ;
    color:var(--black) ;
}
@media (max-width:400px) {
    .main{
        max-width: 100%;
        padding: 1rem;
    }
}