* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    background: #f0f0f0;
    display: flex;
    align-items: center;
 justify-content: center;
   padding: 1rem;

} 

.main {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    max-width: 800px;
    background: white;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.box p{
    font-size: 20px;
    color: #333;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1.5
}
#name{
    font-weight: bold;
    font-size: 16px;
}
#name span{
    color: #777;
    font-size: 14px
}
.two {
    display: none;
}
.img-box img {
    width: 100%;
    display: block;
    border-radius: 5px;
}
.buttons {
    margin: 1rem;
    text-align: center;
    padding: 0.66rem 0.14rem;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    place-self: center;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


button{
    border: none;
    margin: 0rem 0.58rem;
    background-color: white;
}
.buttons img{
    display: block;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

@media (max-width:500px) {
    .box {
        flex-direction: column-reverse;
        text-align: center;
    }
    #name span{
        display: block;
    }
}