@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    /* Neutral Colors */
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--pale-blue);
    font-family: 'Red Hat Display', sans-serif;
    padding: 2rem;
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain; 
}

.main{
    max-width: 387px;
    min-width: 360px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-box{
    width: 100%;
    background-color: antiquewhite;
}
img{
    width: 100%;
    display: block;
    border-top-left-radius: 15px;
     border-top-right-radius: 15px;
}
.content-box{
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
}
.content-box h2{
    color: var(--dark-blue);
    font-weight: 900;
}
.text p{
    text-align: center;
    font-size: 16px;
    color: var(--desaturated-blue);
}
button{
    border: none;
    width: 100%;
    padding: 0.67rem;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: var(--bright-blue);
    font-weight: 800;
    font-size: 16px;
}
.plan{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--very-pale-blue);
    padding: 1.44rem;
    border-radius: 10px;
}
.plan a:hover,.plan:active{
color: hsl(256deg 84.21% 61.04%) ;
}
.payment-btn:hover, .payment-btn:active{
    background-color: hsl(256deg 84.21% 61.04%) ;
}
.annual-plan{
    display: flex;
    gap: 1rem;
}
.annual-plan p{
    color: var(--desaturated-blue);
}
.annual-plan h4{
    color: var(--dark-blue);
}
.cancel-btn{
    background-color: white;
    color: black;
 
}
.cancel-btn:active,.cancel-btn:hover{
    color: var(--dark-blue);
}
@media (max-width:491px) {
    .main{
        max-width: 100%;
    }
    .content-box{
        padding: 2rem;
    }
    body{
    background-image: url("./images/pattern-background-mobile.svg");
    }
}