@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%) ;
}
body{
    min-height: 100vh;
    background-color:var(--Dark-Blue);
    color: var(--Light-Cyan);
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    place-content: center;
    place-items: center;
    padding: 2rem;
}
.main{
    background-color: var(--Dark-Grayish-Blue);
    max-width: 50%;
    border-radius: 10px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    position: relative;
}
#advice-icon-btn{
    border: none;
    position:absolute;
    background-color:var(--Neon-Green);
    border-radius: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0.8rem;
    left: 50%;
    bottom: -1.4rem;
    transform: translateX(-50%);
}
.main h4{
    color: var(--Neon-Green);
    letter-spacing: 3px;
    font-weight: 400;
}
.icon img{
    width: 100%;
    display: block;
    margin-bottom: 1rem;
} 
#advice-quote {
    font-family: 'Manrope', sans-serif;
    font-size: 23px;
    font-weight: 800;
    text-align: center;
}
@media (max-width:500px) {
    .main{
        max-width: 100%;
        padding: 2rem;
    }
    #advice-quote {
        font-size: 20px;
    }
}
