@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 0.99;
}

:root {
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);

    --yellow-100: hsl(31, 66%, 93%);
    --yellow-500: hsl(39, 100%, 71%);

    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

body {
    font-family: 'DM Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 95%);
    padding: 2rem;
    font-weight: 400;
}

.main {
    display: grid;
    gap: 1.55rem;
    grid-template-areas:
        'seven one one four four'
        'seven two three four four'
        'eight  two three four four '
        'eight six five five five';
}

/* same styling of all box */
.box {
    padding: 1.6rem;
    border-radius: 8px;
    box-shadow: 2px 13px 15px white;
}

/* same stying of some box */
.one,
.two,
.four,
.six,
.seven,
.eight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

/* width of all imges*/
img {
    width: 80%;
}
.two img,
.four img,
.seven img,
.eight img {
    width: 100%;
}
.seven h1,
.four h2,
.two h2 {
    letter-spacing: -1px;
}

/* one */
.one {
    grid-area: one;
    background-color: var(--purple-500);
    color: var(--white);
    text-align: center;
    gap: 0.45rem;
    align-items: center;
}

.one img {
    margin-top: 5px;
}

.one span {
    color: var(--yellow-500);
}

.one h1,
.six h1 {
    font-size: 37px;
}

.one img {
    width: 50%;
}

/* two */
.two {
    grid-area: two;
    background-color: var(--white);
}

.two img {
    transform: scale(1.1);
}


/* three */
.three {
    grid-area: three;
    background-color: var(--yellow-500);
}

.three img {
    margin-top: 1rem;
}

/* four */
.four {
    grid-area: four;
    background-color: var(--purple-100);

}

.four p {
    width: 100%;
}

/* five */
.five {
    grid-area: five;
    background-color: var(--purple-500);
    color: var(--white);
}

.five {
    display: flex;
    align-items: center;
}

.five img {
    width: 50% !important;
    margin-right: 5px;
}

/* six */
.six {
    grid-area: six;
    background-color: var(--white);
}

.six p {
    font-size: 11px;
}

/* seven */
.seven {
    grid-area: seven;
    background-color: var(--yellow-100);
    align-items: center;
}

.seven i {
    color: var(--purple-500);
}

/* eight */
.eight {
    grid-area: eight;
    background-color: var(--yellow-500);
    justify-content: space-between;
}

@media (max-width:500px) {
    .main {
        grid-template-areas:
            'one'
            'two'
            'three'
            'four'
            'five'
            'six'
            'seven'
            'eight'
    }

    .five {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    .four {
        text-align: center;
    }

    .eight {
        gap: 1rem;
    }
    .seven img{
        width: 80%;
    }

}