@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
:root {
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

body{
    font-family: 'Karla', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:var(--light-gray);
    color: white;
    padding: 2rem;
}

.main {
    width: 688px;
    display: grid;
    grid-template-areas: 
        "one one"
        "two three";
    grid-template-columns: 1fr 1fr;
}


.one{
    grid-area: one;
    background-color: white;
    color: gray;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.two{
    grid-area: two;
    background-color: var(--cyan);
    border-bottom-left-radius: 8px;
}

.three{
    grid-area: three;
    background-color:hsl(178, 43%, 58%);
    color: var(--light-gray);
   border-bottom-right-radius: 8px;
}
.section{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.one h1{
    color: var(--cyan);
}
.one h3{
    margin-top: 1rem;
    color: var(--bright-yellow);
}
button{
    border-radius: 8px;
    padding: 1rem;
    border: none;
    background-color: var(--bright-yellow);
    color: white;
    font-weight: 700;
    font-size: 18px;
}
.price{
    display: flex;
    flex-direction: column;
    color: var(--light-gray);
}
.price p{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.price span{
    color: white;
    font-size: 32px;
    font-weight: 700;
}
@media (max-width:700px) {
    .main {
        width: 100%;
        grid-template-areas:
            'one'
            'two'
            'three';
            grid-template-columns: 1fr;
    }
    .two{
        border-bottom-left-radius: 0;
    }
    .three{
        border-bottom-left-radius: 8px;
    }
}